{% extends "pages/base.html" %}

{% set showLoginButton = True %}

{% block headTags %}
<title>Reset Password | Cliques</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<section id="passwordReset">
	<h2>Reset Password</h2>
	{% if resetMode %}
	<form class="pad" name="passwordResetForm" action="/passwordreset" method="POST">
		{% if userErrorMessage %}
		<p class="formError">{{ userErrorMessage }}</p>
		{% endif %}
		<input name="secret" type="hidden" value="{{ secret }}">
		<input name="userID" type="hidden" value="{{ userID }}">
		<label for="passwordField" class="required">Password:<span>*</span></label>
		<input id="passwordField" name="passwordPlain" type="password" dir="auto" placeholder="(8 characters min.)"
			autocomplete="new-password" minlength="8" required>
		<input name="password" type="hidden">
		<div class="panel">
			<div class="flexibleSpace"></div>
			<button type="submit">Reset Password</button>
			<div class="flexibleSpace"></div>
		</div>
	</form>
	{% else %}
	<form class="pad" name="passwordResetForm" action="/forgot" method="POST">
		{% if userErrorMessage %}
		<p class="formError">{{ userErrorMessage }}</p>
		{% endif %}
		<label for="usernameField" class="required">Username:<span>*</span></label>
		<input id="usernameField" name="alias" type="text" dir="auto" minlength="2" required autofocus>
		<label for="emailField" class="required">Email:<span>*</span></label>
		<input id="emailField" name="email" type="email" dir="auto" required>
		<div class="panel">
			<div class="flexibleSpace"></div>
			<button type="submit">Reset Password</button>
			<div class="flexibleSpace"></div>
		</div>
	</form>
	{% endif %}
</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	function hexString(buffer) {
		const byteArray = new Uint8Array(buffer);
		const hexCodes = [...byteArray].map(value => {
			const hexCode = value.toString(16);
			const paddedHexCode = hexCode.padStart(2, "0");
			return paddedHexCode;
		});
		return hexCodes.join("");
	}

	function digestMessage(message) {
		const encoder = new TextEncoder();
		const data = encoder.encode(message);
		return window.crypto.subtle.digest("SHA-256", data);
	}

	const passwordResetForm = document.passwordResetForm;
	if (passwordResetForm) {
		passwordResetForm.onsubmit = function () {
			const password = passwordResetForm.passwordPlain.value;
			digestMessage(password).then(digestValue => {
				passwordResetForm.password.value = hexString(digestValue);
				passwordResetForm.submit();
			});
			return false;
		}
	}
</script>
{% endblock %}