{% extends "pages/base.html" %}

{% set showLoginButton = True %}

{% block headTags %}
<title>Privacy Policy | Cliques</title>
<meta name="description"
        content="A service that automatically creates social groups when you connect with people who all know each other, allowing you all to communicate in realtime." />
{% endblock %}

{% block content %}
<article>
        <h1>Privacy Policy</h1>
        <p>This policy covers the website alimahouk.com. Any information you submit to this website
                will never be shared with any third parties without your explicit permission. Be aware
                that some functions of the website are designed for sharing information publicly, in
                which case both registered users and unregistered visitors may be able to view that
                information.</p>
        <h3>Use of Cookies</h3>
        <p>Cliques uses cookies to store session data linked to the computer user. This data is used
                to determine whether a user is logged in or not.</p>
        <h3>Security</h3>
        <p>The website takes every precaution to protect any sensitive information submitted by users.
                Passwords are always stored and transmitted in hashed form. In addition, the website
                employs Transport Layer Security (TLS) to establish secure connections between a user's
                computer and Cliques servers.</p>
        <h3>Compliance With Local Law Enforcement</h3>
        <p>The IP addresses of every user are logged for the purposes of website governance. In the
                event of a user breaching the Cliques terms of use by commiting actions deemed
                illegal under the laws of the United Kingdom, we will co-operate with local law
                enforcement and share identifying information of the user in question with the concerned
                law enforcement agencies.</p>
        <h3>Changes in Privacy Policy</h3>
        <p>We reserve the right to make changes to this privacy policy at any time. Any changes will be
                communicated clearly to all users.</p>
</article>
{% endblock %}