{% extends "pages/base.html" %}

{% set showLoginButton = True %}

{% block headTags %}
<title>Terms of Use | Cliques</title>
<meta name="description"
        content="A service that automatically creates social groups when you connect with people who all know each other, allowing you all to communicate in realtime." />
{% endblock %}

{% block content %}
<article>
        <h1>Terms of Use</h1>
        <p>By using the Cliques website, you agree to be bound by these terms of use.</p>
        <h3>Eligibility</h3>
        <p>This service is meant for people who are over the age of thirteen. You must be thirteen or
                over to register as a member of Cliques or use this website. In the event that we
                discover an account belonging to a person under the age of thirteen, we reserve the
                right to terminate that account without the consent of that user.</p>
        <h3>Illegal Activity</h3>
        <p>You may not use this website to commit any actions or perform any activities deemed illegal
                by the laws of the United Kingdom or the laws of the country through which you access
                this website. We reserve the right to share information identifying users who commit
                such actions or perform such activities with local law enforcement agencies.</p>
        <h3>Content Posted on the Website</h3>
        <p>You understand and agree that we may review and delete any content that violates this
                agreement of which might be offensive, illegal, or that might violate the rights, harm,
                or threaten the safety of members.</p>
        <p>You are solely responsible for the content that you publish or display on this service.</p>
        <p>You may not engage in advertising to, or solicitation of, other members to buy or sell any
                products or services through the service. You may not transmit any chain letters or junk
                email to other members. Although we cannot monitor the conduct of members off the
                website, it is also a violation of these rules to use any information obtained from the
                service in order to harass, abuse, or harm another person, or in order to advertise to,
                solicit, or sell to any member without their prior consent.</p>
        <h3>Copyright Policy</h3>
        <p>You may not post, distribute, or reproduce in any way any copyrighted material, trademarks,
                or other proprietary information without obtaining the prior written consent of the
                owner of such proprietary rights.</p>
        <h3>Usernames</h3>
        <p>We reserve the right to reclaim a username peviously claimed by a Cliques member at any
                time. The affected member will be notified in this case and will be asked to claim a
                different username.</p>
        <h3>Member Disputes</h3>
        <p>You are solely responsible for your interactions with other Cliques members. We reserve
                the right, but have no obligation, to monitor disputes between you and other members.
        </p>
        <h3>Limitation on Liability</h3>
        <p>Except in jurisdictions where such provisions are restricted, in no event will we be liable
                to you or any third person for any indirect, consequential, exemplary, incidental,
                special or punitive damages, including also lost profits arising from your use of the
                website or the service.</p>
        <h3>Changes in Terms of Use</h3>
        <p>We reserve the right to make changes to this agreement at any time. Any changes will be
                communicated clearly to all users.</p>
</article>
{% endblock %}