{% extends "pages/base.html" %}

{% set showLoginButton = True %}

{% block headTags %}
<title>Cliques</title>
<meta name="description"
        content="A service that automatically detects when you connect with people who all know each other and creates private spaces for you all to talk.">
{% endblock %}

{% block content %}
<h1>Login Required</h1>
<p>You need to be <a href="/login {% if threadID %} ?threadid={{ threadID }} {% endif %}">log in</a> before you can see this content.</p>
{% endblock %}